*{
    font-family: 'Ubuntu',sans-serif;
}
.bottom_space{
    padding:10px;
}
.light_font{
    color:white!important;
}
#mainJumbotron{
    text-align: center;
    margin-top:56px;
    margin-bottom:0px;
    color:white;
}
.jumbotron{
    background:rgb(102, 153, 255);
}
.icon-left{
    font-size:40px;
    margin-left: 20px;
}
a{
    color:black;
}
#heading{
    font-size:80px;
}
.sink{
    background:white;
}
.icon-right{
    margin-right:10px;
    font-size:40px;
}
.center{
    text-align: center;
}
.hide{
    display: none;
}
.no_margin{
    margin-top:1px;
    margin-bottom: 1px;
    font-weight: 900;
}
.subheading{
    font-size:40px;
}
.story{
    line-height: 2;
    font-size:20px;
}
.stars{
    font-size:30px;
}
.card-body{
    font-size: 20px;
}
.icon{
    font-size:50px;
}
